/* soft reset do CSS*/
*{
  margin: 0px;
  padding: 0px;
}
body {
    /*background-image: url('https://66.media.tumblr.com/4f877b889cbd4d3d5bef83ba5bda5e09/tumblr_nk39j9b6dC1tf8vylo1_1280.png');*/
    background-image: linear-gradient(to bottom right, #FC43C7, #FAC1EA, #8BBEF9, #117DF8);
    background-size: auto 100vh;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    font-size: 14px;
  }

  @media (min-width: 400px) {
   body {
    font-size: 16px;
   }
  }

  @media (min-width: 600px) {
    body {
     font-size: 18px;
    }
   }

   @media (min-width: 700px) {
    body {
     font-size: 20px;
    }

    
   }

  header {
    height: 100vh; /* toda a altura da tela - 100% do viewport height*/
    display: flex;
    justify-content: center; /*eixo Y*/
    align-items: center;/*eixo X*/
      }
  
  a {
    text-decoration: none;
    color: whitesmoke;
  }
  a:hover {
    text-decoration: underline;
    color: #8dbaf5;  
  }

  .menu {
    background-color: #f03c93;
    position: fixed;
    width: 100vw; 
    top: 0;
  }  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .menu li {
    list-style: none;
  }
  .menu a {
    display: block;
    padding: 10px 20px;
  }
  .site-subtitle,
  .site-title {
    color: #377FFC;
    text-align: center;
  }

  .site-title {
    font-size: 5em;
    font-family: 'Great Vibes', cursive; 
  }
  .site-subtitle {
    font-style: italic;
    font-family: 'Space Mono', monospace;
  }

  .portfolio {
    background-color: #FAC1EA;
    padding: 2em;
          
  }

  .portfolio h2 {
    font-family: 'Space Mono', monospace;
    margin-bottom: 2em;
  }

  .img-portfolio {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 30px;
  }

  @media (min-width: 980px) {
    .img-portfolio {
      height: 300px;
      width: 300px;
    }
  }

  .portfolio .grid {
    display: grid;
    gap: 5em;
   }
  @media (min-width: 550px) {
   .portfolio .grid { 
     grid-template-columns: repeat(2, 240px);
    }
   } 

   @media (min-width: 980px) {
    .portfolio .grid { 
      align-content: center;
      justify-content: center;
      gap: 6em;
     }
    }

 .portfolio figure {
    text-align: center;
  }