/* soft reset do CSS*/
*{
  margin: 0px;
  padding: 0px;
}
body {
    /*background-image: url('https://66.media.tumblr.com/4f877b889cbd4d3d5bef83ba5bda5e09/tumblr_nk39j9b6dC1tf8vylo1_1280.png');*/
    background-image: linear-gradient(to bottom right, #FC43C7, #FAC1EA, #8BBEF9, #117DF8);
    background-size: auto 100vh;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    font-size: 14px;
  }

  @media (min-width: 400px) {
   body {
    font-size: 16px;
   }
  }

  @media (min-width: 600px) {
    body {
     font-size: 18px;
    }
   }

   @media (min-width: 700px) {
    body {
     font-size: 20px;
    }

    
   }

  header {
    height: 100vh; /* toda a altura da tela - 100% do viewport height*/
    display: flex;
    justify-content: center; /*eixo Y*/
    align-items: center;/*eixo X*/
      }
  
  a {
    text-decoration: none;
    color: whitesmoke;
  }
  a:hover {
    text-decoration: underline;
  }

  .menu a {
    display: block;
    padding: 10px 20px;
    transition: text-shadow 1s, color 1s;
  }

  .menu a:active,
  .menu a:hover {
    text-shadow: 0px 0px 5px rgba(231, 242, 252, 1) ;
    color: black;
  } 

  .menu {
    background-color: #f03c93;
    position: fixed;
    width: 100vw; 
    top: 0;
    z-index: 1; /*para ficar por cima de tudo*/
  }  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .menu li {
    list-style: none;
  }

  .titulo {
   /* padding: 20px 20px; */
    transform: scale(0.2) translateY(50vh);

    animation: 2s linear 1s animaTitulo forwards;
  }

  @keyframes animaTitulo {
    0% {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
  
  .site-subtitle,
  .site-title {
    color: #377FFC;
    text-align: center;
  }

  .site-title {
    font-size: 5em;
    font-family: 'Great Vibes', cursive; 
  }
  .site-subtitle {
    font-style: italic;
    font-family: 'Space Mono', monospace;
  }

  .sobre,
  .contato,
  .portfolio {
    background-color: #FAC1EA;
    padding: 2em;
             
  }
  .sobre,
  .contato h2,
  .portfolio h2 {
    font-family: 'Space Mono', monospace;
    /*margin-bottom: 1em;
    margin-top: 1em;*/
  }

  @media(min-width: 1200px){
  .sobre,
  .contato,
  .portfolio {
    max-width: auto;
    margin-left:auto ;
    margin-right: auto;
  }
}

.sobre .avatar {
 margin-left: 2em;
}

@media(min-width: 700px) {
  .sobre .avatar {
    margin-left: 2em;
    float: right;
  }
}

.sobre .avatar img {
  width: 300px;
  height: 302px;
  border-radius: 15%;
  }

  .sobre p {
    text-indent: 1.5em;
    margin-bottom: 1.5em;
    text-align: justify;
  }
  .sobre a {
    color:#f03c93;
    transition: text-shadow 500ms;
  }

  .sobre a:hover,
  .sobre a:active {
    text-shadow: 0px 0px 5px rgba(247, 27, 104, 1) ;
    color: black;
   }


  .img-portfolio {
    height: 200px;
    width: 200px;
    /*width:100%;*/
    object-fit: cover;
    object-position: left;
    border-radius: 30px;
    transition: 500ms;
  }

  .img-portfolio:hover {
    transform: scale(1.1);
  }

  @media (min-width: 980px) {
    .img-portfolio {
      height: 300px;
      width: 300px;
    }
  }

  .flip-card {
    height:200px;
    width:200px;
    /*background-color: green;*/
    perspective: 1000px;
   }

   @media (min-width:980px){
    .flip-card {
      height:300px;
      width:300px;
    } 
   }
  .card {
    /*background-color: red;*/
    position:relative;
    transform-style: preserve-3d;
    transition: transform 3s;
    
  }

  .card a {
    text-decoration: none;
    color: black;
  }

  .flip-card:hover .card{
    transform: rotateY(180deg);
  }
  
  .card-back {
    /*background-color: blue;*/
    height: 200px;
    width: 200px;
    /*border-radius: 30px ;*/
    transform: rotateY(180deg);
  }
  @media (min-width: 980px) {
  .card-back {
    height: 300px;
    width: 300px; 
  }
}

  .card-front,
  .card-back {
    backface-visibility: hidden;
    position: absolute;
    left:0;
    top:0;
  }
    
  .portfolio .grid {
    display: grid;
    gap: 5em;
   }
  @media (min-width: 550px) {
   .portfolio .grid { 
     grid-template-columns: repeat(2, 240px);
    }
   } 

   @media (min-width: 980px) {
    .portfolio .grid { 
      align-content: center;
      justify-content: center;
      gap: 6em;
     }
    }

 .portfolio figure {
    text-align: center;
  }

  .contato .icons {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .contato a {
    color: #34D5DD;
    font-size: 5em; 
  }

  .contato a:active,
  .contato a:hover {
    text-decoration: none;
    text-shadow: 5px 5px black;
  }

  .botao {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
  }

  .botao button {
    cursor: pointer;
    width:50px;
    height:50px;
    border-radius: 30px;
    background-color:#FE02B7;
    border:none;
    box-shadow: -3px 1px 5px rgba(2, 46, 45, 0.4) ;
    font-size: 1.5em;
    color:white;
    transition: 500ms;
    }

   .botao button:active,
   .botao button:hover {
     transform: scale(1.1);
   }

 /*.botao button.home {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 30px ;
    background-color: #FE02B7; 
    z-index: 2;*/
  }